@model ProjectViewModel
<link rel="stylesheet" href="~/css/projects/project.css" />
<div class="container d-flex justify-content-center project-info">
    <div>
        <h1>Name: @Model.Name</h1><br />
        <h2>Info: @Model.Info</h2><br />
        <a asp-controller="UserProjects" asp-action="GetEditProject" asp-route-projectId="@Model.Id" class="btn btn-info btn-lg">
            <span class="glyphicon glyphicon-remove"></span> Edit
        </a>
    </div>
</div>