@model ProjectViewModel
@{
    var i = 1;
    var projects = ViewData["Projects"] as IEnumerable<ProjectViewModel>;
}
<link rel="stylesheet" href="~/css/projects/projects.css" />
<div class="col-12 d-flex justify-content-center project-form">
    <div class="col-3 text-center">
        <form asp-controller="Projects" asp-action="CreateProject">
            <label>Project Name</label>
            <input class="form-control" type="text" asp-for="Name" /><br />
            <label>Project Info</label>
            <input class="form-control" type="text" asp-for="Info" /><br />
            <div asp-validation-summary="All"></div>
            <button type="submit" class="btn-primary">Add Project</button>
        </form>
    </div>
</div>
<div class="col-12 text-center main">
    <div class="container">
        <table class="table project-table">
            <thead>
                <tr>
                    <th scope="col" class="number">#</th>
                    <th scope="col" class="name">Name</th>
                    <th scope="col" class="info">Info</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var project in projects)
                {
                    <tr>
                        <th scope="row">@i</th>
                        <td><a asp-controller="Projects" asp-action="Project" asp-route-projectId="@project.Id">@project.Name</a></td>
                        <td>@project.Info</td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>
    </div>
</div>