.project-info {
    margin-top: 100px;
}

.wrap {
    padding: 15px;
}

h1 {
    font-size: 28px;
}

h4,
modal-title {
    font-size: 18px;
    font-weight: bold;
}

.no-borders {
    border: 0px;
}

.body-message {
    font-size: 18px;
}

.centered {
    text-align: center;
}

.tables {
    width: 44%;
}

table td, th {
    text-align: center;
}