@model LoginViewModel
<link rel="stylesheet" href="~/css/authentication/login.css" />
<div class="container d-flex justify-content-center">
    <div class="login-form d-flex align-items-center flex-column">
        <h1>Sign In</h1>
        <form asp-controller="Authentication" asp-action="Login" class="d-flex align-items-center flex-column">
            <input type="text" class="form-control" asp-for="Login" placeholder="Login" /><br />
            <input type="password" class="form-control" asp-for="Password" placeholder="Password" /><br />
            <div asp-validation-summary="All"></div>
            <button type="submit" class="btn btn-primary">Go ;)</button>
        </form>
    </div>
</div>