@model WorkSharp.ViewModels.Authentication.RegisterViewModel
<html>
<head><title>ahah</title></head>
<body>
<h1>Register</h1>
<form asp-controller="Authentication" asp-action="Register">
    <input type="text" asp-for="UserName" />
    <input type="text" asp-for="Email"/>
    <input type="text" asp-for="Password"/>
    <button type="submit"></button>
</form>
</body>
</html>
